<p><%= link_to "Home", "/" %> | <%= link_to "Teams Index", "/teams" %> | <%= link_to "Members Index", "/members" %></p>

<h1><%= @team.name %></h1>

<p>Games&nbsp;Won:<%= @team.games_won %></p>

<p>Championship&nbsp;Winner: <%= @team.won_championship %></p>

<p><%= link_to "Team Members", "/teams/#{@team.id}/members"%>: <%=@team.member_count %></p>
<p><%= button_to "Update Team", "/teams/#{@team.id}/edit"%>
